@{
    ViewData["Title"] = "Index";
}


<div class="Text container">
    <label>User</label>     <br />
    <input type="text" />    <br />
    <label>Password</label> <br />
    <input type="password" />
   2

</div>
